Repository exarus/ai-assignments: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --custom-syntax postcss-html, eslint --fix

.lintstagedrc:

---
'*.{css,vue,less,sass,scss,sss}':
  - stylelint --fix --custom-syntax postcss-html
  - git add
'*.{js,vue}':
  - eslint --fix
  - git add

8 puzzle solver is displayed properly
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

proper game loop and dificulties added
  src/components/EightPuzzleGame/EightPuzzleGame.vue
  src/components/EightPuzzleGame/Game.js
  src/components/EightPuzzleGame/GameSaver.js
  src/components/EightPuzzleGame/GameStartDialog.vue
  src/components/EightPuzzleSolver.vue
  src/util/8-puzzle.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

release 0.9.0
  index.html
  static/css/app.aeb5e91a8d60178594aca6473b23b26c.css
  static/css/app.b6764fca467d2d2e78757155a3f7e377.css
  static/css/app.b6764fca467d2d2e78757155a3f7e377.css.map
  static/fonts/element-icons.304050a.ttf
  static/fonts/element-icons.6f0a763.ttf
  static/js/app.322d3529fea2239e3839.js
  static/js/app.322d3529fea2239e3839.js.map
  static/js/app.c2aca9a19d6c5888f5e6.js
  static/js/app.c2aca9a19d6c5888f5e6.js.map
  static/js/manifest.1d1f3b5d31a9739e39a6.js
  static/js/manifest.1d1f3b5d31a9739e39a6.js.map
  static/js/manifest.3763c1fcfb5a398904da.js
  static/js/manifest.3763c1fcfb5a398904da.js.map
  static/js/vendor.8cfe99b14c4b1cc6973d.js
  static/js/vendor.8cfe99b14c4b1cc6973d.js.map
  static/js/vendor.b932a9aa77dac1af030f.js
  static/js/vendor.b932a9aa77dac1af030f.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

release 0.9.0
  package.json
Due: none

lodash added
  .babelrc
  build/webpack.prod.conf.js
  package.json
  src/components/EightPuzzle.vue
  src/components/EightPuzzleSolver.vue
  src/components/VacuumCleanerWorld.vue
  yarn.lock
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Machine learning fuzzy c-means inital
  src/components/FuzzyClusteringSolver/FuzzyClusteringSolver.vue
  src/components/FuzzyClusteringSolver/fuzzyClustering.js
  src/components/GlobalNavigation.vue
  src/main.js
  src/router/index.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

lodash supports carry
  build/webpack.prod.conf.js
Due: eslint --fix

c-means output displayed
  src/components/FuzzyClusteringSolver/FuzzyClusteringSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

release 0.10.0
  index.html
  static/css/app.1a7ddbfbfe4742c71e98a9971f311126.css
  static/css/app.1a7ddbfbfe4742c71e98a9971f311126.css.map
  static/css/app.b6764fca467d2d2e78757155a3f7e377.css
  static/css/app.b6764fca467d2d2e78757155a3f7e377.css.map
  static/js/app.322d3529fea2239e3839.js
  static/js/app.322d3529fea2239e3839.js.map
  static/js/app.3a2799bc76053156cca7.js
  static/js/app.3a2799bc76053156cca7.js.map
  static/js/manifest.1d1f3b5d31a9739e39a6.js
  static/js/manifest.1d1f3b5d31a9739e39a6.js.map
  static/js/manifest.c16106584c9f03e52a79.js
  static/js/manifest.c16106584c9f03e52a79.js.map
  static/js/vendor.b932a9aa77dac1af030f.js
  static/js/vendor.b932a9aa77dac1af030f.js.map
  static/js/vendor.d712de285e491cd8dd44.js
  static/js/vendor.d712de285e491cd8dd44.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

c-means clusters fixed
  src/components/FuzzyClusteringSolver/FuzzyClusteringSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

release 0.10.1
  package.json
Due: none

release 0.10.1
  index.html
  static/css/app.1a7ddbfbfe4742c71e98a9971f311126.css
  static/css/app.1a7ddbfbfe4742c71e98a9971f311126.css.map
  static/css/app.63f42e0c8d4afc42adbc7f0645aef1b2.css
  static/css/app.63f42e0c8d4afc42adbc7f0645aef1b2.css.map
  static/js/app.3a2799bc76053156cca7.js
  static/js/app.3a2799bc76053156cca7.js.map
  static/js/app.6b7cc97f6008bfb8d5ff.js
  static/js/app.6b7cc97f6008bfb8d5ff.js.map
  static/js/manifest.15ce94630333b99d45d4.js
  static/js/manifest.15ce94630333b99d45d4.js.map
  static/js/manifest.c16106584c9f03e52a79.js
  static/js/manifest.c16106584c9f03e52a79.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Machine Learning Naive Bayes added
  src/components/FuzzyClusteringSolver/FuzzyClusteringSolver.vue
  src/components/GlobalNavigation.vue
  src/components/NaiveBayes/NaiveBayes.vue
  src/components/NaiveBayes/naiveBayes.js
  src/router/index.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

version bump: 0.10.2
  package.json
Due: none

release 0.10.2
  index.html
  static/css/app.63f42e0c8d4afc42adbc7f0645aef1b2.css
  static/css/app.63f42e0c8d4afc42adbc7f0645aef1b2.css.map
  static/css/app.ef8573687237a3761faa8119829a85b0.css
  static/css/app.ef8573687237a3761faa8119829a85b0.css.map
  static/js/app.6b7cc97f6008bfb8d5ff.js
  static/js/app.6b7cc97f6008bfb8d5ff.js.map
  static/js/app.89cf3ea3961b320ec686.js
  static/js/app.89cf3ea3961b320ec686.js.map
  static/js/manifest.15ce94630333b99d45d4.js
  static/js/manifest.15ce94630333b99d45d4.js.map
  static/js/manifest.fd5216360ccafc18c5c7.js
  static/js/manifest.fd5216360ccafc18c5c7.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Naive Bayes improved
  src/components/NaiveBayes/NaiveBayes.vue
  src/components/NaiveBayes/naiveBayes.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

test writing was started
  test/test1.js
Due: eslint --fix
