Repository exarus/ai-assignments: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --custom-syntax postcss-html, eslint --fix

.lintstagedrc:

---
'*.{css,vue,less,sass,scss,sss}':
  - stylelint --fix --custom-syntax postcss-html
  - git add
'*.{js,vue}':
  - eslint --fix
  - git add

Element components size is optimised via babel-plugin-component
  .babelrc
  package.json
  src/App.vue
  src/components/EightPuzzleGame.vue
  src/components/EightPuzzleSolver.vue
  src/main.js
  yarn.lock
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Game state parsed from localstorage. Win dialog improved
  src/components/EightPuzzleGame.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Build 0.5.0
  index.html
  static/css/app.a3271221c4c739257fbe80e03ded5770.css
  static/js/app.dc60c1da0d9a31c2785d.js
  static/js/app.dc60c1da0d9a31c2785d.js.map
  static/js/manifest.65ab93e98d10474635da.js
  static/js/manifest.65ab93e98d10474635da.js.map
  static/js/vendor.4a6d4448fde35c3be3ee.js
  static/js/vendor.4a6d4448fde35c3be3ee.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

WebStorm is kind to Vue tags
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Components communication improved
  src/components/EightPuzzle.vue
  src/components/EightPuzzleGame.vue
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Refactoring: resorting things in right places
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/depthLimitedSearch.js
  src/ai/8-puzzle/heuristics.js
  src/util/8-puzzle.js
Due: eslint --fix

hill climbing search added
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
Due: eslint --fix

v0.5.0 release
  package.json
Due: none

EightPuzzle notifies parents better
  src/components/EightPuzzle.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

hill climbing search implemented
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
Due: eslint --fix

A* search optimized
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
Due: eslint --fix

Component naming according to Vue styleguide
  src/components/EightPuzzleGame.vue
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Algorithm chooser added
  src/App.vue
  src/components/EightPuzzle.vue
  src/components/EightPuzzleSolver.vue
  src/main.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Deep search optimized
  src/ai/8-puzzle/depthLimitedSearch.js
Due: eslint --fix

A* search uses open and closed red-black tree
  package.json
  src/ai/8-puzzle/aStarSearch.js
  yarn.lock
Due: eslint --fix

shuffle is limited for non-informative search algorithms only
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

mannhatanDistance and linear conflict heuristics in A*
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
Due: eslint --fix

Vue views refactoring
  src/components/EightPuzzle.vue
  src/components/GlobalNavigation.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

AI solution is displayed
  src/components/EightPuzzleSolver.vue
  src/main.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Algorithms updated
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/depthLimitedSearch.js
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
  src/ai/8-puzzle/util.js
Due: eslint --fix

Solver hotfix
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

dependency version bump
  package.json
  yarn.lock
Due: none

WebStorm fix
  .idea/jsLibraryMappings.xml
Due: none

algorithms improved
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/depthLimitedSearch.js
  src/ai/8-puzzle/heuristics.js
  src/ai/8-puzzle/hillClimbingSearch.js
  src/ai/8-puzzle/util.js
Due: eslint --fix

findSolution logging improved
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

more data structures
  package.json
  yarn.lock
Due: none

Algorithms restructured
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/createNode.js
  src/ai/8-puzzle/depthLimitedSearch.js
  src/ai/8-puzzle/hillClimbingSearch.js
  src/ai/8-puzzle/util.js
Due: eslint --fix

depthLimit -> 16
  src/ai/8-puzzle/depthLimitedSearch.js
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Refactoring
  src/ai/8-puzzle/aStarSearch.js
  src/ai/8-puzzle/util.js
Due: eslint --fix

keywords removed
  index.html
Due: none

solver shows table only when necessary
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

0.6.0 release
  package.json
  src/components/EightPuzzleSolver.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Build 0.6.0
  index.html
  static/css/app.0977b353db1ffca0a5cb3fc82eefc1d7.css
  static/css/app.a3271221c4c739257fbe80e03ded5770.css
  static/js/app.848b39cf94af4025b269.js
  static/js/app.848b39cf94af4025b269.js.map
  static/js/app.dc60c1da0d9a31c2785d.js
  static/js/app.dc60c1da0d9a31c2785d.js.map
  static/js/manifest.65ab93e98d10474635da.js
  static/js/manifest.65ab93e98d10474635da.js.map
  static/js/manifest.69d161bc61c48299759b.js
  static/js/manifest.69d161bc61c48299759b.js.map
  static/js/vendor.3e26a7702f0715b8381a.js
  static/js/vendor.3e26a7702f0715b8381a.js.map
  static/js/vendor.4a6d4448fde35c3be3ee.js
  static/js/vendor.4a6d4448fde35c3be3ee.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Vacuum Cleaner World added
  .idea/codeStyles/codeStyleConfig.xml
  src/ai/vacuum-cleaner-world/vacuumCleanerAgent.js
  src/assets/dirty.jpg
  src/assets/vacuum-cleaner.png
  src/assets/wall.svg
  src/components/GlobalNavigation.vue
  src/components/VacuumCleanerWorld.vue
  src/components/VacuumCleanerWorldCell.vue
  src/router/index.js
  src/util/vacuum-cleaner-world.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

random generator accepts iterables
  src/util/8-puzzle.js
  src/util/random.js
Due: eslint --fix

deep-freeze added. version bump
  package.json
  yarn.lock
Due: none

minimal vacuum cleaner world implemented
  src/ai/vacuum-cleaner-world/Environment.js
  src/ai/vacuum-cleaner-world/SimpleReflexAgent.js
  src/ai/vacuum-cleaner-world/VacuumCleanerWorld.js
  src/ai/vacuum-cleaner-world/actions.js
  src/ai/vacuum-cleaner-world/vacuumCleanerAgent.js
  src/components/VacuumCleanerWorld.vue
  src/components/VacuumCleanerWorldCell.vue
  src/util/vacuum-cleaner-world.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

energy spent constants fixed
  src/ai/vacuum-cleaner-world/SimpleReflexAgent.js
Due: eslint --fix

vacuum cleaner world util.js added
  src/ai/vacuum-cleaner-world/Environment.js
  src/ai/vacuum-cleaner-world/util.js
Due: eslint --fix

Model based reflex agent added
  src/ai/vacuum-cleaner-world/ModelBasedReflexAgent.js
Due: eslint --fix
