Repository exarus/ai-assignments: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --custom-syntax postcss-html, eslint --fix

.lintstagedrc:

---
'*.{css,vue,less,sass,scss,sss}':
  - stylelint --fix --custom-syntax postcss-html
  - git add
'*.{js,vue}':
  - eslint --fix
  - git add

dependencies updated
  package.json
  yarn.lock
Due: none

Vacuum cleaner world with binary dirty state
  src/ai/vacuum-cleaner-world/Environment.js
  src/ai/vacuum-cleaner-world/ModelBasedReflexAgent.js
  src/ai/vacuum-cleaner-world/SimpleReflexAgent.js
  src/ai/vacuum-cleaner-world/VacuumCleanerWorld.js
  src/ai/vacuum-cleaner-world/util.js
  src/components/VacuumCleanerWorld.vue
  src/main.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Wumpus world page added
  src/ai/wumpus-world/Environment.js
  src/ai/wumpus-world/WumpusWorld.js
  src/components/EightPuzzleSolver.vue
  src/components/GlobalNavigation.vue
  src/components/WumpusWorld.vue
  src/router/index.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Vacuum cleaner world recreation bug fixed
  src/components/VacuumCleanerWorld.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

debug statements removed
  src/ai/vacuum-cleaner-world/ModelBasedReflexAgent.js
Due: eslint --fix

release 0.7.0
  package.json
Due: none

Release 0.7.0
  index.html
  static/css/app.0977b353db1ffca0a5cb3fc82eefc1d7.css
  static/css/app.b34025671a6e1a696c41a466366689f4.css
  static/img/dirty.449f77c.jpg
  static/js/app.848b39cf94af4025b269.js
  static/js/app.848b39cf94af4025b269.js.map
  static/js/app.a813afe919b685ac8c64.js
  static/js/app.a813afe919b685ac8c64.js.map
  static/js/manifest.19618bfb24f3e38bd696.js
  static/js/manifest.19618bfb24f3e38bd696.js.map
  static/js/manifest.69d161bc61c48299759b.js
  static/js/manifest.69d161bc61c48299759b.js.map
  static/js/vendor.3e26a7702f0715b8381a.js
  static/js/vendor.3e26a7702f0715b8381a.js.map
  static/js/vendor.44037230c8d730b772ea.js
  static/js/vendor.44037230c8d730b772ea.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

WebStorm files changed
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
Due: none

dependencies update
  package.json
  yarn.lock
Due: none

random refactored
  src/util/8-puzzle.js
  src/util/random.js
  src/util/secureRandom.js
Due: eslint --fix

Hill Climbing search implemented
  src/ai/8-puzzle/hillClimbingSearch.js
  src/components/EightPuzzleSolver.vue
  test/testRandom.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

last 2 Chrome versions supported
  .babelrc
  package.json
Due: none

v0.8.0
  package.json
Due: none

hill algorithm refactoring
  src/ai/8-puzzle/hillClimbingSearch.js
Due: eslint --fix

hill algorithm don't use tail recursion anymore
  src/ai/8-puzzle/hillClimbingSearch.js
  src/ai/8-puzzle/util.js
Due: eslint --fix

prettify VacuumCleanerWorld and 8-puzzle
  src/ai/vacuum-cleaner-world/Environment.js
  src/components/EightPuzzleSolver.vue
  src/components/VacuumCleanerWorld.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

dependencies bump
  package.json
  yarn.lock
Due: none

import build, config folder updates from vue template
  build/dev-client.js
  build/dev-server.js
  build/webpack.prod.conf.js
  config/index.js
Due: eslint --fix

.babelrc refactoring
  .babelrc
Due: none

babel-preset-env downgrade
  package.json
  yarn.lock
Due: none

release 0.8.1
  index.html
  static/css/app.aeb5e91a8d60178594aca6473b23b26c.css
  static/css/app.b34025671a6e1a696c41a466366689f4.css
  static/fonts/element-icons.304050a.ttf
  static/js/app.a813afe919b685ac8c64.js
  static/js/app.a813afe919b685ac8c64.js.map
  static/js/app.c2aca9a19d6c5888f5e6.js
  static/js/app.c2aca9a19d6c5888f5e6.js.map
  static/js/manifest.19618bfb24f3e38bd696.js
  static/js/manifest.19618bfb24f3e38bd696.js.map
  static/js/manifest.3763c1fcfb5a398904da.js
  static/js/manifest.3763c1fcfb5a398904da.js.map
  static/js/vendor.44037230c8d730b772ea.js
  static/js/vendor.44037230c8d730b772ea.js.map
  static/js/vendor.8cfe99b14c4b1cc6973d.js
  static/js/vendor.8cfe99b14c4b1cc6973d.js.map
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

path fixed in v0.8.1
  static/css/app.aeb5e91a8d60178594aca6473b23b26c.css
Due: stylelint --fix --custom-syntax postcss-html

Recursion is rewritten as trampoline
  package.json
  src/ai/8-puzzle/hillClimbingSearch.js
  src/ai/8-puzzle/util.js
  yarn.lock
Due: eslint --fix

element-ui optimized
  src/components/EightPuzzleSolver.vue
  src/main.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

VacuumCleanerWorld refactoring
  src/ai/vacuum-cleaner-world/Environment.js
  src/components/VacuumCleanerWorld.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

deps version bump
  package.json
  yarn.lock
Due: none

GameDev project extension
  src/ai/wumpus-world/Environment.js
  src/components/EightPuzzleGame.vue
  src/components/GameStartDialog.vue
  src/components/GameWinDialog.vue
  src/components/VacuumCleanerWorld.vue
  src/gamedev/EightPuzzleGame.js
  src/util/8-puzzle.js
  src/util/toSelectOptions.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Dependencies updated. Fresh vue template version merged.
  .babelrc
  .eslintignore
  .eslintrc.js
  .gitignore
  .postcssrc.js
  build/build.js
  build/check-versions.js
  build/dev-client.js
  build/dev-server.js
  build/utils.js
  build/vue-loader.conf.js
  build/webpack.base.conf.js
  build/webpack.dev.conf.js
  build/webpack.prod.conf.js
  config/index.js
  package.json
  yarn.lock
Due: eslint --fix

styles import bug fixed
  src/App.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

README updated
  README.md
Due: none

logo for mac notifications added
  build/logo.png
Due: none

Unused components removed. Navigation fixed to comply
  src/components/EightPuzzle.vue
  src/components/EightPuzzleGame.vue
  src/components/EightPuzzleSolver.vue
  src/components/GameStartDialog.vue
  src/components/GameWinDialog.vue
  src/components/GlobalNavigation.vue
  src/components/VacuumCleanerWorld.vue
  src/components/VacuumCleanerWorldCell.vue
  src/components/WumpusWorld.vue
  src/router/index.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

English localisation for Element
  build/webpack.base.conf.js
  src/main.js
Due: eslint --fix

global refactoring
  src/App.vue
  src/components/GlobalNavigation.vue
  src/components/VacuumCleanerWorld.vue
  src/components/VacuumCleanerWorldCell.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

deps updated
  yarn.lock
Due: none

Webstorm webpack support improved
  .idea/misc.xml
Due: none

extra files removed
  src/ai/wumpus-world/Environment.js
  src/ai/wumpus-world/WumpusWorld.js
Due: eslint --fix

Eight puzzle game upgrade
  src/components/EightPuzzle.vue
  src/components/EightPuzzleGame.vue
  src/components/EightPuzzleGame/EightPuzzleGame.vue
  src/components/EightPuzzleGame/Game.js
  src/components/EightPuzzleGame/GameStartDialog.vue
  src/components/EightPuzzleGame/GameWinDialog.vue
  src/components/EightPuzzleSolver.vue
  src/components/GameStartDialog.vue
  src/gamedev/EightPuzzleGame.js
  src/router/index.js
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

EightPuzzle component simplified
  src/components/EightPuzzle.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix

Game loop allows restart
  src/components/EightPuzzleGame/EightPuzzleGame.vue
  src/components/EightPuzzleGame/Game.js
  src/components/EightPuzzleGame/GameWinDialog.vue
Due: stylelint --fix --custom-syntax postcss-html, eslint --fix
